At most once header fields are allowed multiple times

RFC5322 section 3.6 specifies that certain header fields, such as Cc may be specified at most once. Repeating these fields more than once is an error.

`MessageStream::parse_headers` will happily parse these "at most once" fields multiple times and push them on the `headers` output list. As a result, messages that are non-conformant are parsed without any warning. Querying the the `Cc` field of a `Message` that was parsed from non-conformant input will return the value of the last `Cc` field that was parsed. This can lead to hard to detect errors.

I would suggest rejecting non-conformant messages, or adding a "strict" parsing method that will reject such messages. I can draft up a patch if you are OK with this.

According to the project's README:

>In general, this library abides by the Postel's law or [Robustness Principle](https://en.wikipedia.org/wiki/Robustness_principle) which states that an implementation must be conservative in its sending behavior and liberal in its receiving behavior. This means that mail-parser will make a best effort to parse non-conformant e-mail messages as long as these do not deviate too much from the standard.

What you suggest goes against the goals of this library. Parsing emails cannot be done in strict mode otherwise you'll be rejecting half of the emails out there.

In that case, I guess the right thing to do would be to combine the Cc fields if they are repeated? That would probably be what the author of the email intended anyway. That was the case for me at least. 