Message::html_body contains body of text/plain messages

Parsing this plain text message the parser will create html body segments, even though there is no HTML content present and the `Content-Type` clearly states `text/plain`

```
Return-Path: <admin@example.net>
Delivered-To: test@example.net
Received: from mail.example.net
        by mail with LMTP
        id o5oVDChJcWTaugQAZU03Dg
        (envelope-from <admin@example.net>)
        for <test@example.net>; Sat, 27 May 2023 02:04:56 +0200
Received: from mail (localhost [127.0.0.1])
        by mail.example.net (Postfix) with ESMTP id E08F741
        for <test@example.net>; Sat, 27 May 2023 02:04:55 +0200 (CEST)
To: test@example.net
From: admin@example.net
Subject: Welcome
MIME-Version: 1.0
Date: Sat, 27 May 2023 02:04:55 +0200
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: 8bit
Message-Id: <20230527000455.E08F741@mail.example.net>

Hi,

Welcome to your new account.
```

Test code:

```
let data = include_bytes!("test.eml");
let message = mail_parser::Message::parse(data).unwrap();
println!("{:?}", message.html_bodies().map(|b| b.text_contents()).collect::<Vec<_>>())
```

Body parts are grouped using the algorithm described in [RFC8621, section 4.1.4](https://datatracker.ietf.org/doc/html/rfc8621#autoid-35). If you would like to use a different algorithm you can iterate `Message::parts` directly.